.main_novel
  .main_novel__info
    .main_novel__info__title-name
      = @title.name
    .main_novel__info__btn
      = link_to "Top", root_path, class: "btn"
      -if user_signed_in? && current_user.id == @title.user_id 
        = link_to "Delete", title_path(@title.id), method: :delete, class: "btn"
        = link_to "Edit", edit_title_path(@title.id), class: "btn"
  .main_novel__title__volume-list
    .volume-btn
      -if user_signed_in? && current_user.id == @title.user_id 
        = link_to "投稿", new_title_volume_path, class: "btn"
    .volume-list
      - @volumes.each do |volumes|
        .volume-index
          = link_to title_volume_path(@title.id, volumes.id) do
            .volume-name
              = volumes.name
          .volume-date
            = volumes.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .main_novel__info__btn
      .form
        = link_to "感想", title_comments_path(@title.id), class: "btn"
