.main_novel
  .main_novel__info
    .main_novel__info__title-name
      = @title.name
    .main_novel__info__btn
      = link_to '#', class: "btn" do
        = "Delete"
      = link_to '#', class: "btn" do
        = "Edit"
  .main_novel__title__volume-list
    .volume-btn
      = link_to new_title_volume_path class: "btn" do
        = "投稿"
    .volume-list
      .volume-index
        = link_to "#" do
          .volume-name
            = "第01話：帰還者"
        .volume-date
          = "2020年07月19日"
      .volume-index
        = link_to "#" do
          .volume-name
            = "第02話：コロニー落とし"
        .volume-date
          = "2020年07月25日"
  .main_novel__title__comment-list
    .comment-list
      .comment-index
        .comment-name
          投稿者名
        .volume-date
          = "2020年07月23日"
      .volume-content
        = "単純に面白い。本家をリスペクトしている所を感じるのが尚良いです。"
      .comment-index
        .comment-name
          投稿者名
        .volume-date
          = "2020年07月25日"
      .volume-content
        = "パクリですね、同じような二次創作を見たことがあります。"
  .main_novel__title__comment-send
    .form
      %form.new-comment
        .input-box
        %input{type: "text", placeholder: "type a comment" , class: "input-box__text"}  
      %input{type: "submit", class: "submit-btn"}