%h1.volume-title= "本編"
-# %if= user_signed_in? && current_user.id == @volume.user_id
.volume__btn
  = link_to '#', class: "btn" do
    = "Delete"
  = link_to '#', class: "btn" do
    = "Edit"
.form-volume
  .new-volume
    .input-box
      .input-box__text
        = "第01話：帰還者"
      .input-box__content
        = "遺憾ながら、世の中には不条理がよくよく罷まかり通る。それは往々にして突拍子もなく訪れ、人を当惑し、思考を停止させ、危機感を与えるものだ。例えば就職を考え、入社を目指すと語ればジオン士官学校に進学と変更されるとか。例えば技術士官を志し、必須項目や試験問題を紐解こうとすれば行軍訓練に拉致されたとか。例えば初の任務を控え、叱責覚悟で後方任務を嘆願すれば、前線希望に捏造済みであったとか。ジオン公国国防軍所属、メルティエ・イクス少尉の短い二十二の人生は概ねこんなものである。彼が住まう部屋には備付けの机と椅子、寝台以外は簡素な調度品しかなく、白を基調とした室内が寂然感を際立たせた。　これには理由がある。メルティエはここに住み始めてまだ一週間も経過しておらず、正確に言うと半分の四日間は作戦に従事していた為だ。彼が居るのはズムシティに在る軍事施設、その中の兵舎で割り振られた自室。引っ越して来た時に荷物を入れたダンボールが、今も未開封のまま放置されている。密閉していたからか、生活感はなくとも埃はありそうである。幸い掃除に邪魔になるものはなく、スムーズに清掃作業は終えた。その分悲しくなるほどお手軽で、虚しくなったが。型遅れの掃除機――軽量で小型だが吸い込み量は大きさ相応で遊び機能がない――を片付けながら、メルティエはへばり付く疲労感に苛まれていた。（激務だとは聞いてはいたが、まさかここまでとは思いも寄らなかった）彼が目指す進路は異なる筈だったのだ、思いを巡らすのも当然と言えよう。（あ、いかん。考えると欝になる）椅子に腰掛けたままで早一時間。机上には明朝に届けられた封筒。ペーパーナイフで開き内容に目を通してからは絶賛黙考中である。寝台とは反対側に設置された姿見鏡に映る灰色の混じった黒髪、鋭さを秘めた灰色の瞳に彫りが深い顔立ち、長身の体格にジオン公国軍の通常時の軍服である第二種戦闘服、その上に尉官以上に与えられる丹念な刺繍入りマント。襟元にはモビルスーツパイロットを示す徽章――ただしフェルト製――が存在を主張する。彼は今日も懲りずに自問する。真っ当な企業人になる筈だったと。いやさ、なれる筈だったと。それが今や修正され、軍服を見事に着こなし、対面者に綺麗な敬礼を決める程だ。かつて、士官学校卒業後に配属した先で上官に辞令と共に敬礼すると「教本に載せられる」と太鼓判を押された事もある。本当に、どうしてこうなった。ジオニック社でも、ツィマッド社でも何処の企業でもいい。モビルスーツの部品を製造、開発するメーカーに入って仕事すると思っていたのに）企業に入る為の資格、教育は受けてきた。それなのに、メルティエは技師とか職人という類ではなく立派な軍属だ。軍事施設、基地に入ればパイロットのイクス少尉として振る舞っていた。ふと、脳裏に訓練生時代に”教育”を処された記憶が蘇る。あれは嫌なものだ。指導（物理）的な意味で。「はいはい、現実逃避しないの。戻っておいで」彼の鼓膜を甘い声が震わせ、肩を小さく揺さぶられたのは意識が士官候補生時代に至った辺りだった。メルティエは天井に移していた視点を下げ、予想していた女性に合わせる。首の後ろで束ねた蜂蜜色の髪は僅かな光にさえ映える、見つめれば引き込まれる円らな碧眼に、通った鼻筋と桜色に潤う小さな唇、実年齢二十二よりも幼く見える顔立ちのうら若き乙女。ジオン公国軍の軍服には身体のラインが浮き立ち、その女性らしい曲線に思わず目を引かれた。彼女もメルティエと同じく軍服の上にマント、モビルスーツパイロットを示す徽章を付けている。アンリエッタ・ジーベル少尉。メルティエの同僚にして幼馴染、こ・の・道・に・進・ま・せ・た・張・本・人・であり何かと困惑される事が多い美女。彼女が入室しても気づかなかったのか、やはり睡眠不足なのが一番の原因か。「……何しに来やがりましたかねぇ」思わず口角が吊り上がり、目元の隈も相まって鋭い目が睨んでいるように見える。いや、これは明らかに睨んでいた。「あ、ひどいんだ。今頃は悩んでいると思って態々足を運んだのに」傷ついたと言わんばかりに眉根を寄せ、頬を膨らませる。男なら非が有ろうと無かろうと謝り機嫌を取ろうとするだろう、愛らしい彼女に対し。「――へいへい、わたくしめがわるぅござんしたよっ、と」悲しいかな、彼も男である。そして、臍を曲げた彼女は色んな意味で強敵である。実体験が彼に「波風立てんな」と助言。彼はそれを甘んじて受け入れた。悪態と嘆息を一つした後に、苦い笑みを浮かべる。昔から脹れたり泣いたりした彼女には勝てた験ためしがない。恐らくはこれからもそうだろう。人差し指を宙に浮かべ、そのまま膨らんだ彼女の頬を突っつき、柔らかさを堪能した。アンリエッタはむうっ、と目を細めるが何も言わず受け入れている。（あ、なんだか癒された。気分変えなきゃな）"