%h1.volume-title= "本編"
-# %if= user_signed_in? && current_user.id == @volume.user_id
.volume__btn
  = link_to '#', class: "btn" do
    = "Delete"
  = link_to '#', class: "btn" do
    = "Edit"
.form-volume
  .new-volume
    .input-box
      .input-box__text
        = "第01話：帰還者"
      .input-box__content
