%h1.volume-title= "本編"
-# %if= user_signed_in? && current_user.id == @volume.user_id
.volume__btn
  = link_to "Top", root_path, class: "btn"
  -if user_signed_in? && current_user.id == @volume.user_id 
    = link_to "Index", title_volumes_path(@title), class: "btn"
    = link_to "Delete", title_volume_path(@title, @volume.id), method: :delete, class: "btn"
    = link_to "Edit", edit_title_volume_path(@title, @volume.id), class: "btn"
.form-volume
  .new-volume
    .input-box
      .input-box__text
        = @volume.name
      .input-box__content
        = @volume.content
